/obj/Debug/net8.0/GeoLambdaApi.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/GeoLambdaApi.GlobalUsings.g.cs
/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/GeoLambdaApi.AssemblyInfo.cs
/obj/Debug/net8.0/GeoLambdaApi.AssemblyInfoInputs.cache
/obj/Debug/net8.0/GeoLambdaApi.assets.cache
/obj/Debug/net8.0/GeoLambdaApi.csproj.AssemblyReference.cache
/obj/Debug/net8.0/GeoLambdaApi.GeneratedMSBuildEditorConfig.editorconfig
/obj/GeoLambdaApi.csproj.nuget.dgspec.json
/obj/GeoLambdaApi.csproj.nuget.g.props
/obj/GeoLambdaApi.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
/bin/Debug/net8.0/Amazon.Lambda.APIGatewayEvents.dll
/bin/Debug/net8.0/Amazon.Lambda.ApplicationLoadBalancerEvents.dll
/bin/Debug/net8.0/Amazon.Lambda.AspNetCoreServer.dll
/bin/Debug/net8.0/Amazon.Lambda.AspNetCoreServer.Hosting.dll
/bin/Debug/net8.0/Amazon.Lambda.Core.dll
/bin/Debug/net8.0/Amazon.Lambda.Logging.AspNetCore.dll
/bin/Debug/net8.0/Amazon.Lambda.RuntimeSupport.dll
/bin/Debug/net8.0/Amazon.Lambda.Serialization.SystemTextJson.dll
/bin/Debug/net8.0/appsettings.Development.json
/bin/Debug/net8.0/appsettings.json
/bin/Debug/net8.0/aws-lambda-tools-defaults.json
/bin/Debug/net8.0/AWSSDK.Core.dll
/bin/Debug/net8.0/AWSSDK.DynamoDBv2.dll
/bin/Debug/net8.0/GeoLambdaApi.deps.json
/bin/Debug/net8.0/GeoLambdaApi.dll
/bin/Debug/net8.0/GeoLambdaApi.exe
/bin/Debug/net8.0/GeoLambdaApi.pdb
/bin/Debug/net8.0/GeoLambdaApi.runtimeconfig.json
/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/bin/Debug/net8.0/Microsoft.OpenApi.dll
/bin/Debug/net8.0/SnapshotRestore.Registry.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/obj/Debug/net8.0/ref/GeoLambdaApi.dll
/obj/Debug/net8.0/refint/GeoLambdaApi.dll
/obj/Debug/net8.0/staticwebassets/msbuild.build.GeoLambdaApi.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.GeoLambdaApi.props
/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.GeoLambdaApi.props
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/GeoLambd.FD31112E.Up2Date
/obj/Debug/net8.0/GeoLambdaApi.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/GeoLambdaApi.dll
/obj/Debug/net8.0/GeoLambdaApi.genruntimeconfig.cache
/obj/Debug/net8.0/GeoLambdaApi.MvcApplicationPartsAssemblyInfo.cache
/obj/Debug/net8.0/GeoLambdaApi.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/net8.0/GeoLambdaApi.pdb
/obj/Debug/net8.0/GeoLambdaApi.sourcelink.json
/obj/Debug/net8.0/staticwebassets.build.json
